<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.url }}" aria-label="Return to homepage">
                <img src="/assets/images/tsp_logo.svg" width="180" alt="Logo The Systemic Programmer">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
        
            <div class="navbar-end">
                <a class="navbar-item has-text-weight-semibold" href="{{ site.url }}/software-engineering">  
                    Software Engineering
                </a>
                <a class="navbar-item has-text-weight-semibold" href="{{ site.url }}/systemic-thinking">  
                    Systemic Thinking
                </a>
                <a class="navbar-item has-text-weight-semibold" href="{{ site.url }}/coding">  
                    Coding
                </a>
                <a class="navbar-item has-text-weight-semibold" href="{{ site.url }}/archive/category">  
                    Categories
                </a>
                <a class="navbar-item has-text-weight-semibold" href="{{ site.url }}/archive/tag">  
                    Tags
                </a>
                <a class="navbar-item has-text-weight-semibold" href="{{ site.url }}/archive/date">  
                    Archive
                </a>
                <a class="navbar-item has-text-weight-semibold" href="/search" aria-label="Search blog">  
                    <i class="fas fa-lg fa-search"></i>
                </a>
            </div>
            
        </div>
    </div>
</nav>