<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.url }}">
                <img src="/assets/images/tsp_logo.svg" width="180">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
        
            <div class="navbar-end">
                <a class="navbar-item has-text-weight-semibold" href="{{ site.url }}">  
                    Blog
                </a>
                <a class="navbar-item has-text-weight-semibold" href="{{ site.url }}">  
                    Tutorials
                </a>
                <a class="navbar-item has-text-weight-semibold" href="{{ site.url }}">  
                    Quick References
                </a>
                <a class="navbar-item has-text-weight-semibold" href="search/search.html">  
                    <i class="fas fa-lg fa-search"></i>
                </a>
            </div>
            
        </div>
    </div>
</nav>