{% if page.hero.image %}
    {% assign hero = site.data.licensed-images[page.hero.image] %}
    {% assign license = site.data.licenses[hero.license] %}

    <div class="hero is-{{ page.hero.extension | default: "medium" }}" style="background-image: url('/assets/images/{{ hero.image }}'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
        <div class="hero-body">
        {% if page.hero.title %}
            <div class="container has-text-centered">
                <div class="has-text-{{ page.hero.color | default: 'white'}}" style="font-size: 4.5rem; font-weight: 600;">
                    {{page.hero.title }}
                </div>
                {% if page.hero.title %}
                    <div class="has-text-{{ page.hero.color | default: 'white'}}" style="font-size: 3.5rem; font-weight: 600;">
                        {{ page.hero.subtitle }}
                    </div> 
                {% endif %}
            </div>

        {% endif %}
        </div>
    </div>

    {% if hero.author-name %}
        <p class="ml-1 is-size-7">
            Image by
            <a href="{{ hero.author-link }}">{{ hero.author-name }}</a>
            on
            <a href="{{ hero.company-link }}">{{ hero.company-name }}</a>
            , licensed under 
            <a href="{{ license.link }}">{{ license.name }}</a>
        </p>
    {% endif %}
{% endif %}