<section class="section">
    <div class="container">

        {%if include.title %}
            <h1 class="title is-size-2 has-text-centered">{{ include.title }}</h1>
        {% endif %}

        <div id="posts" class="columns is-multiline mt-2">
            {% if include.category %}
                {% assign postList = site.categories[include.category] %}
            {% else %}
                {% assign postList = site.posts %}
            {% endif %}

            {% for post in postList limit:{{site.pagination.per_page}} %}
                <div class="column is-half">
                    {% include blog/list-item.html %}
                </div>
            {% else %}
                <p>There are currently no blog posts available.</p>
            {% endfor %}
        
        </div>
    </div>
    <div class="has-text-centered mt-6">
        <button id="load-more" class="button is-link is-centered">Load more ...</button>
    </div>
</section>