---
---
//
// Styles for BULMA 
//
@charset "utf-8";
@import "bulma/utilities/_all.sass";
@import "bulma/base/_all.sass";

@import "bulma/helpers/color.sass";
@import "bulma/helpers/spacing.sass";
@import "bulma/helpers/visibility.sass";
@import "bulma/helpers/typography.sass";

@import "bulma/form/shared.sass";
@import "bulma/form/input-textarea.sass";
@import "bulma/form/tools.sass";

@import "bulma/elements/container.sass";
@import "bulma/elements/container.sass";
@import "bulma/elements/title.sass";
@import "bulma/elements/tag.sass";
@import "bulma/elements/box.sass";
@import "bulma/elements/button.sass";

@import "bulma/components/navbar.sass";
@import "bulma/components/media.sass";

@import "bulma/grid/columns.sass";

@import "bulma/layout/hero.sass";
@import "bulma/layout/section.sass";

body {
    display: flex;
    min-height: calc(100vh);
    flex-direction: column;
    font-size: 1.1rem;
  }

.wrapper {
    flex: 1;
  }
h1 {
    @extend .is-size-2;
    font-weight: 600;
    margin-bottom: 1rem;
}

h2 {
    @extend .is-size-3;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom:0.5rem;
}

h3 {
    @extend .is-size-4;
    font-weight: 600;
    margin-top: 1rem;
}

p {
    margin-bottom: 1rem;
}

li {
    margin-left: 2rem;
    margin-bottom:0.5rem;
}

/** Sidebar specific tweaks **/
#sidebar {

    ul.related-posts {
      box-shadow: none;
      padding: 0;
      z-index: 1;
  
      li {
        margin: 0;
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        font-size: smaller;
        border-bottom: 1px solid darkgray;
        &:last-child {
          border-bottom: 0;
        }
      }
  
    }
  
    ul.archives {
      list-style: none;
      margin-left: 0;
  
      .label {
        vertical-align: text-top;
      }
    }
  }

//
// Styles for embedded fonts
//
@import "icons/fontello-embedded.css";

// // 
// // Styles for ASCIIDOC and Pygments Source Code Highlighter
// //
// @import "asciidoc/asciidoc.css";
// @import "highlighter/asciidoc-pygments.css";

// .colist table {
//     margin-top:0.6rem;
// }