---
---
//
// Styles for BULMA 
//
@charset "utf-8";
@import "bulma/utilities/_all.sass";
@import "bulma/base/_all.sass";

@import "bulma/helpers/color.sass";
@import "bulma/helpers/spacing.sass";
@import "bulma/helpers/typography.sass";

@import "bulma/elements/container.sass";
@import "bulma/elements/title.sass";

@import "bulma/components/navbar.sass";
@import "bulma/components/media.sass";

@import "bulma/grid/columns.sass";

@import "bulma/layout/hero.sass";
@import "bulma/layout/section.sass";

h1 {
    @extend .title;
}

h2 {
    @extend .subtitle;
}

body {
    display: flex;
    min-height: calc(100vh);
    flex-direction: column;
  }

p {
    margin-bottom: 1rem;
}

//
// Styles for embedded fonts
//
@import "icons/fontello-embedded.css";

// 
// Styles for Pygments Source Code Highlighter
//
@import "highlighter/asciidoc-pygments.css";

.colist table {
    margin-top:0.6rem;
}