{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% for year in postsByYear limit:10 %}
    <div class="has-text-centered" style="font-size: smaller;">
        {% assign postsByMonth = year.items | group_by_exp:"item", "item.date | date: '%B'"  %}
        {% for month in postsByMonth %}
            <a href="/archive/date/{{ year.name }}/{{ month.items[0].date | date: '%m' }}" aria-label="Blog post archive for articles published on{{ mont.name }} {{ year.name }}">
                {{ month.name }} {{ year.name }} ({{ month.items.size}})
            </a></br>  
        {% endfor %}
    </div>
{% endfor %}